* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif; }

header {
  width: 100%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/apples.jpg") center center/cover;
  box-shadow: inset 0 0 100px #343638;
  color: #fff; }
  header .logo-nav {
    margin: 60px; }
    header .logo-nav p {
      float: left;
      text-transform: uppercase;
      font-size: 14px; }
    header .logo-nav nav {
      float: right; }
      header .logo-nav nav a {
        padding-left: 30px;
        font-size: 12px;
        color: #fff;
        letter-spacing: 2px;
        text-decoration: none; }
  header .banner-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    header .banner-value div:first-child {
      text-transform: uppercase;
      font-size: 45px; }
      header .banner-value div:first-child span {
        font-size: 85px; }
    header .banner-value .original {
      margin-bottom: 160px; }
    header .banner-value input {
      width: 300px;
      height: 65px;
      margin-bottom: 110px;
      border: 2px solid #fff;
      background-color: rgba(52, 54, 56, 0.5);
      color: #fff; }

aside {
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  aside div:first-child {
    width: 50%;
    font-size: 28px;
    padding: 0px 75px; }
  aside .aside-2 {
    width: 50%;
    font-size: 16px;
    padding-right: 75px; }

main {
  background-color: #F3F3F3;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto; }
  main h2:first-child {
    font-weight: 100;
    margin: 135px 0px 95px; }
  main article {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 70px;
    width: 90%; }
    main article .on-image {
      position: relative;
      text-align: center;
      color: #fff; }
      main article .on-image img {
        width: auto;
        background: url("../img/sample.jpg") center center/cover;
        box-shadow: inset 0 0 50px #343638; }
      main article .on-image input {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 70px;
        height: 40px;
        border: 2px solid #fff;
        background-color: rgba(52, 54, 56, 0.5);
        color: #fff; }
      main article .on-image .p-image {
        position: absolute;
        bottom: 25px;
        left: 15px; }
    main article .text {
      padding: 20px;
      text-align: center; }
  main .e-mail {
    width: 90%;
    margin: 65px;
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }
    main .e-mail .textline {
      padding: 30px;
      text-align: justify;
      font-size: 18px; }
    main .e-mail #mail {
      width: 54vw;
      height: 70px;
      margin: 65px 0px;
      background-color: #F3F3F3;
      border: 1px solid;
      padding: 30px; }
      main .e-mail #mail::placeholder {
        color: #000; }
    main .e-mail input:nth-child(2) {
      border: 1px;
      background-color: #343638;
      color: #fff;
      width: 10vw;
      height: 70px;
      margin: 0px 30px 0px -5px; }

footer {
  display: grid; }

/*# sourceMappingURL=style.css.map */
