@font-face {
  font-family: "Open Sans Regular"; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
  height: auto;
  font-family: "Open Sans"; }

header {
  width: 100%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/apples.jpg") center center/cover;
  box-shadow: inset 0 0 100px #343638;
  color: #fff; }
  header .logo-nav {
    margin: 7vh; }
    header .logo-nav p {
      float: left;
      text-transform: uppercase;
      font-size: 0.875rem;
      letter-spacing: 0.3vw; }
    header .logo-nav nav {
      float: right; }
      header .logo-nav nav a {
        padding-left: 5vw;
        font-size: 0.9rem;
        color: #fff;
        text-decoration: none; }
  header .banner-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    header .banner-value div:first-child {
      text-transform: uppercase;
      font-size: 2.8125rem; }
      header .banner-value div:first-child span {
        font-size: 5.3125rem; }
    header .banner-value .original {
      margin-bottom: 35vh; }
    header .banner-value input {
      width: 18vw;
      height: 8vh;
      margin-bottom: 15vh;
      border: 2px solid #fff;
      background-color: rgba(52, 54, 56, 0.5);
      color: #fff; }

aside {
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  aside div:first-child {
    width: 50%;
    font-size: 1.5rem;
    padding: 0vh 7vw; }
  aside .aside-2 {
    width: 50%;
    font-size: 0.9rem;
    padding-right: 9vw; }

main {
  background-color: #F3F3F3;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto; }
  main h2:first-child {
    font-weight: 100;
    margin: 25vh 0vw 13vh; }
  main article {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2vh 15vw;
    width: 90%; }
    main article .on-image {
      position: relative;
      text-align: center;
      color: #fff; }
      main article .on-image img {
        width: auto;
        box-shadow: inset 0 0 50px #343638; }
      main article .on-image input {
        position: absolute;
        top: 4vh;
        right: 2vw;
        width: 4.5vw;
        height: 7vh;
        border: 2px solid #fff;
        background-color: rgba(52, 54, 56, 0.5);
        color: #fff; }
      main article .on-image .p-image {
        position: absolute;
        bottom: 5vh;
        left: 3vw;
        font-size: 1rem; }
    main article .text {
      padding: 1vh;
      text-align: center; }
  main .e-mail {
    width: 90%;
    margin: 14vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }
    main .e-mail .textline {
      padding: 6vh;
      text-align: justify;
      font-size: 1.3rem; }
    main .e-mail form {
      flex-wrap: nowrap; }
      main .e-mail form #mail {
        width: 54vw;
        margin: 14vh 0;
        background-color: #F3F3F3;
        border: 1px solid;
        padding: 3vh; }
        main .e-mail form #mail::placeholder {
          color: #000; }
      main .e-mail form input:nth-child(2) {
        border: 1px;
        background-color: #343638;
        color: #fff;
        padding: 3.2vh 1.5vw;
        margin: 0vh 2vw 0vh -1vw; }

.footer-blocks {
  padding: 0 70px;
  background: #fff;
  color: #a4a4a4;
  display: grid;
  grid-column-gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px;
  align-items: center; }
  .footer-blocks address {
    font-style: normal; }
  .footer-blocks h4 {
    padding-bottom: 30px;
    color: #000; }
  .footer-blocks p {
    font-size: 14px; }
  .footer-blocks form {
    display: inline-flex;
    flex-wrap: nowrap; }
    .footer-blocks form #textmail {
      width: 200px;
      height: 40px;
      background-color: #F3F3F3;
      border: 1px solid;
      padding: 10px; }
      .footer-blocks form #textmail::placeholder {
        color: #000; }
    .footer-blocks form input:nth-child(2) {
      border: 1px;
      background-color: #343638;
      color: #fff;
      width: 80px;
      height: 40px; }

.copy-nav {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 14px; }
  .copy-nav .copy-right {
    float: left;
    padding-left: 70px;
    color: #a4a4a4; }
  .copy-nav nav {
    float: right;
    padding-right: 70px; }
    .copy-nav nav a {
      padding-left: 25px;
      color: #a4a4a4;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
