body {
    position: relative;
    font-family: sans-serif;
    font-size: 1em;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh auto;
    border: 2px solid gray;
    width: 80vw;
    height: auto;
}

.up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 5vh auto;
    border-bottom: 1px solid #000;
    padding-bottom: 3vh;
}

.catPng {
    width: 5vw;
}

.addItems {
    display: flex;
    width: 70vw;
}

.addNewItem {
    width: 65vw;
    margin: 0 3vw;
}

#addIcon {
    border: none;
    background-color: #fff;
}

.listDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    height: 1.5em;
    margin: 1vh auto;
}

li span {
    width: 70vw;
    align-self: center;
    margin: auto 1vh;
}

.down {
    margin: 2vh auto;
}