/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */


/* :root {
    --bg-color--dark: #0a1223;
    --bg-color--light: #fff;
    --link: #5d5d5d;
    --link--active: #54597d;
    --link--hover: #54597d;
    --article-title: #ddd;
    --article-title--dark: #000;
    --thumbnail--description: #5d5d5d; */


/* These styles are needed only for media query max-width: 575px */


/* The 'Up' button (circle button at right bottom corner) */


/* --btn-color: #fff;
    --btn-bg-color: #5ebcff;
    --navigation-border-bottom: #ddd;
    --thumbnail-title: #484747;
} */


/* Your styles go here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #0a1223;
}

#wrapper {
    width: 100%;
    height: auto;
}

.nav-link {
    margin: 35px 25px;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #5d5d5d;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}


/*  */

a:active {
    color: #54597d;
}

a:hover {
    color: #54597d;
}

.title,
.content-title {
    color: #ddd;
}

.title {
    text-align: center;
    font-size: 4.2em;
    margin: 170px 0px;
}

.content-title {
    font-size: 1.2em;
    font-weight: bold;
}

.description {
    color: #5d5d5d;
    font-weight: bold;
    font-size: 0.9em;
    width: 470px;
}

img {
    width: 430px;
    margin: 10px 55px;
}

.content-title-thumbnail-img {
    width: 980px;
    height: 215px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-title-thumbnail-img:nth-child(even) {
    height: 215px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#content {
    margin: 170px 190px;
}

.content-title-thumbnail {
    margin: 0px 20px;
}

h2 {
    margin-bottom: 40px;
}

@media (max-width:991px) {
    .nav-link {
        justify-content: center;
    }
}

@media (max-width:575px) {
    body {
        background-color: #fff;
    }
}