// MIXIN
@mixin font-size($n) {
    font-size: $n * $descriptionFont-size;
}

@mixin floatText() {
    float: right;
    text-transform: uppercase;
}

@mixin weightColor () {
    @include floatText;
    font-weight: bolder;
    color: $navColor;
}

@mixin marginData() {
    margin-top: ($headerImgMargin-left - 20) / 2;
    margin-right: $listMargin-right;
    margin-left: $aboutMargin-left;
}

* {
    margin: 0px;
    padding: 0px;
}

// MAIN
.main-wrapper {
    font-family: $navFont-family;
    background-color: $mainBackgroundColor;
    width: $mainWidth;
}

// NAVIGATION
header {
    display: flex;
    img {
        margin-left: $aboutMargin-left;
    }
    nav {
        @include floatText;
        @include font-size(1.2);
        height: $navHeight;
        margin-top: ($headerImgMargin-left - 20);
        border: $navBorder;
        border-style: $navBorderStyle;
        padding-top: $navPadding-top;
        a {
            color: $navColor;
            margin: $aMargin;
        }
    }
}

// SEARCH
.toolbar {
    float: right;
    margin-top: $navPadding-top;
    margin-right: $listMargin-right;
    input {
        width: $toolbarInputWidth;
        height: $toolbarInputHeight;
        @include font-size(1.2);
        padding-left: $toolbarInputPadding-left;
        border: $toolbarBorder;
        background-color: $mainBackgroundColor;
        &::placeholder {
            color: $navColor;
        }
    }
}

// BLOG
.post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: ($headerImgMargin-left - 20) / 2;
    margin-left: $headerImgMargin-left;
    article {
        height: 100%;
        background-color: $articleBackgroundColor;
        margin: $articleMargin;
        img {
            width: $imgWidth;
            margin: $imgMargin;
        }
        div {
            width: $articleDivWidth;
            .post-description {
                margin: $articleDivMargin;
                color: $articleColor;
                @include font-size(1);
                padding: $descriptionPadding;
                border: $navBorderColor;
                border-style: $descriptionBorderStyle;
            }
            h3 {
                text-transform: uppercase;
                @include font-size(1.7);
                font-weight: bolder;
                margin: $descriptionH3Margin;
                color: $descriptionH3Color;
            }
            p {
                @include font-size(1.2);
                margin: $descriptionPMargin;
                color: $descriptionPColor;
            }
        }
    }
}

// ABOUT
.about {
    @include marginData;
    h1 {
        @include font-size(1.9);
        @include weightColor;
    }
    p {
        float: left;
        @include font-size(1.2);
        margin-bottom: $aboutPMargin-bottom;
        color: $descriptionPColor;
        line-height: 1.7;
        &:nth-child(3) {
            padding-right: $articleWidth;
        }
    }
    img {
        width: 2*$articleWidth;
    }
}

// CONTACT
.contact-form {
    @include marginData;
    h1 {
        @include weightColor;
        @include font-size(1.9);
    }
    h4 {
        @include weightColor;
        @include font-size(1.4);
        margin-top: ($headerImgMargin-left - 20) / 4;
        margin-right: -$listMargin-right;
    }
    .pad {
        input,
        textarea {
            @include font-size(1.2);
            font-weight: bold;
            padding: $navPadding-top - 10;
            width: 100%;
            margin-bottom: $aboutPMargin-bottom;
            border: 2px solid $navBorderColor;
            background-color: $mainBackgroundColor;
            &::placeholder {
                color: $placeholderColor;
            }
        }
        button {
            @include floatText;
            @include font-size(1.2);
            width: $toolbarInputWidth;
            height: $toolbarInputHeight;
            background: $navColor;
            color: $buttonColor;
            border: none;
        }
    }
}

// FOOTER
footer {
    margin-top: $listMargin-bottom;
    overflow: hidden;
    span {
        float: left;
        @include font-size(1);
        margin-left: $aboutMargin-left;
        color: $descriptionPColor;
    }
}